button {
    border: 1px solid black;
    border-radius: 20%;
}

/* A container for the room navigation buttons */
#navButtons {
    width: 100%;
    height: 15%;
    position: relative;
    left: 0%;
    top: 84%;
}

#labButton {
    width: 80%;
    height: 41%;
    margin: 2% 10%;
    font-size: 1.5vmax;
}

.arrowButton {
    width: 38%;
    height: 51%;
    display: block;
    float: left;
    margin: 2% 0;
    background-size: 100% 100%;
}

#leftButton {
    background-image: url("../imgs/leftArrow.jpg");
    margin-left: 10%;
    margin-right: 1%;
}

#rightButton {
    background-image: url("../imgs/rightArrow.jpg");
    margin-left: 1%;
    margin-right: 10%;
}

.dialogButton {
    width: 10%;
    height: 10%;
    float: right;
    border: 1px solid black;
}









.inspectButton {
    width: 140%;
    height: 60%;
    margin: -10px -20%;
    transform: scale(0.28);
    font-size: 3vmin;
}

.clueButton {
    width: 10%;
    height: 4%;
    position: absolute;
    z-index: 2;
    font-size: 2vmin;
}