button {
    border: 1px solid black;
    border-radius: 20%;
}


/* A container for the room navigation buttons */

#navButtons {
    width: 100%;
    height: 15%;
    position: relative;
    left: 0%;
    top: 19%;
}

#labButton {
    width: 80%;
    height: 48%;
    margin: 2% 10%;
    font-size: 1.3vmax;
}

.arrowButton {
    width: 38%;
    height: 51%;
    display: block;
    float: left;
    margin: 2% 0;
    background-size: 100% 100%;
}

#leftButton {
    background-image: url("../imgs/leftArrow.jpg");
    margin-left: 10%;
    margin-right: 1%;
}

#rightButton {
    background-image: url("../imgs/rightArrow.jpg");
    margin-left: 1%;
    margin-right: 10%;
}

.dialogButton {
    width: 10%;
    height: 15%;
    position: absolute;
    border: 1px solid black;
}

#dialogExitButton {
    top: 5%;
    right: 0.5%;
}

#dialogNextButton {
    bottom: 5%;
    right: 0.5%;
}

#dialogPreButton {
    bottom: 5%;
    right: 89.5%;
}


/* clue buttons */


/* dafault */

.clueButton {
    width: 140%;
    height: 60%;
    margin: -10px -20%;
    transform: scale(0.28);
    font-size: 3vmin;
}


/* Study Room */

#DNAPipe {
    position: absolute;
    top: -30%;
    left: 0%;
}

#FPSPipe {
    position: absolute;
    top: -10%;
    left: 0%;
}

#KBook {
    position: absolute;
    top: -40%;
    left: 8%;
}

#RBook {
    position: absolute;
    top: -20%;
    left: 8%;
}

#DNATeacup {
    position: absolute;
    top: -30%;
    left: 6%;
}

#FPSTeacup {
    position: absolute;
    top: -10%;
    left: 6%;
}

#TLCPlate {
    position: absolute;
    top: -30%;
    left: -2%;
}

#FPSPlate {
    position: absolute;
    top: -10%;
    left: -2%;
}


/* Fireplace */

#DNAVial {
    position: absolute;
    top: -40%;
    left: 3%;
}

#VVial {
    position: absolute;
    top: -20%;
    left: 3%;
}

#PPhoto1 {
    position: absolute;
    top: -20%;
    left: 1%;
}

#WPhoto {
    position: absolute;
    top: -24%;
    left: 2%;
}

#MMask {
    position: absolute;
    top: -25%;
    left: 14%;
}


/* Kitchen */

#TLCTea {
    position: absolute;
    top: -30%;
    left: -210%;
    height: 80%;
    width: 560%;
}


/* Inspect buttons */


/* dafault */

.inspectButton {
    width: 140%;
    height: 60%;
    margin: -10px -20%;
    transform: scale(0.28);
    font-size: 3vmin;
}


/* Study Room */

#Pipe .inspectButton {
    position: absolute;
    top: 71%;
    left: 0%;
}

#Book .inspectButton {
    position: absolute;
    top: 81%;
    left: 8%;
}

#Teacup .inspectButton {
    position: absolute;
    top: 89%;
    left: 6%;
}

#Plate .inspectButton {
    position: absolute;
    top: 64%;
    left: -2%;
}


/* Fireplace */

#Vial .inspectButton {
    position: absolute;
    top: 68%;
    left: 3%;
}

#Photo1 .inspectButton {
    position: absolute;
    top: 72%;
    left: 1%;
}

#Photo .inspectButton {
    position: absolute;
    top: 63%;
    left: 2%;
}

#Mask .inspectButton {
    position: absolute;
    top: 70%;
    left: 15%;
}


/* Kitchen */

#Tea .inspectButton {
    position: absolute;
    top: 88%;
    left: -210%;
    height: 80%;
    width: 560%;
}


/* Lab  */

#FPS .inspectButton {
    position: absolute;
    top: 78%;
    left: 1%;
}

#TLC .inspectButton {
    position: absolute;
    top: 89%;
    left: -1%;
}

#DNA .inspectButton {
    position: absolute;
    top: 72%;
    left: 14%;
}

#BLAST .inspectButton {
    position: absolute;
    top: 71%;
    left: 0%;
}