* {
    margin: 0px;
    padding: 0px;
}

#page {
    width: 100%;
    height: 100%;
}


/* the specific percentages for the height and width of each section
    need to be fine tined for each choice or border width */

.pageSection {
    display: block;
    float: left;
    height: 99.8%;
    background-color: aquamarine;
    position: relative;
}

.sideSection {
    width: 9.3%;
}

#gameScreen {
    width: 81%;
    background-image: url("imgs/1_ProfessorLogan/rooms/Study_pointing.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.navButtons {
    width: 100%;
    height: 9%;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

button {
    border: 1px solid black;
    border-radius: 20%;
}

.arrowButton {
    width: 44%;
    height: 100%;
}

#labButton {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    font-size: x-large;
}

.object:hover {
    transform: scale(3.5);
    opacity: 1;
}

.object {
    width: 8%;
    height: 8%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.inspectButton {
    width: 50%;
    height: 20%;
    margin: 0 25%;
    font-size: xx-small;
}

.clueButton {
    width: 10%;
    height: 4%;
    position: absolute;
    z-index: 2;
}

.objectImage {
    width: 100%;
    height: 80%;
}