* {
    margin: 0px;
    padding: 0px;
}

#page {
    width: 100%;
    height: 100%;
}


/* the specific percentages for the height and width of each section
    need to be fine tined for each choice or border width */

.pageSection {
    display: block;
    float: left;
    height: 99.8%;
    background-color: aquamarine;
    position: relative;
}

.sideSection {
    width: 9.3%;
}

#gameScreen {
    width: 81%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.simulationScreen {
    width: 85%;
    height: 85%;
    z-index: 3;
    margin: 0 auto;
    margin-top: 6%;
    background-color: bisque;
}

.simulationExitButton {
    width: 5%;
    height: 4%;
    margin: 0.5% 47.5%;
    z-index: 3;
    font-size: 2.5vmin;
}