.object:hover {
    transform: scale(3.0);
    opacity: 1;
}

#Tea.object {
    width: 2%;
    height: 6%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

#Tea.object:hover {
    /* width: 8%; */
    /* height: 8%; */
    transform: scale(3.0);
    opacity: 1;
}

.object {
    width: 8%;
    height: 8%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.objectImage {
    object-fit: cover;
    max-height: 80%;
    min-height: 50%;
}

#Pipe .objectImage {
    position: absolute;
    top: 21%;
    left: 21%;
}

#Book .objectImage {
    position: absolute;
    top: 5%;
    left: 26%;
}

#Teacup .objectImage {
    position: absolute;
    top: 13%;
    left: 16%;
}

#Plate .objectImage {
    position: absolute;
    top: 17%;
    left: 17%;
}

#Vial .objectImage {
    position: absolute;
    top: 16%;
    left: 44%;
}

#Photo .objectImage {
    position: absolute;
    top: 14%;
    left: 35%;
}

#Mask .objectImage {
    position: absolute;
    top: 4%;
    left: 52%;
}

#Photo1 .objectImage {
    position: absolute;
    top: 24%;
    left: 40%;
}

#Tea .objectImage {
    position: absolute;
    top: 10%;
    left: 10%;
}