.object:hover {
    transform: scale(3.5);
    opacity: 1;
}

.object {
    width: 8%;
    height: 8%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.objectImage { 
    object-fit: cover;
    max-height: 80%;
    min-height: 50%;
}
