p
{
  background-color: gray;
}
body
{
  background-color: gray;
}
button
{
  color: blue;
  background-color: white;
  font-family: arial;
  font-size: 22;
}
button:hover
{
  color: blue;
  background-color: white;
}
